@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@plugin "daisyui" {
    themes: light --default, dark --prefersdark, cupcake;
}

@theme {
    --font-sans: 'Arvo Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-arvo: 'Arvo', serif;
    --color-navbarGreen: #00532b;
    --color-bodyGreen: #004323;
    --color-texBgreen: #71b93a;
}

.fade-in {
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}